*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;/* PARA QUE RESPETE LAS DIMENSIONES  */
  }

  html{
    height: 100%;
  }
  body {
    font-family: 'montserrat',sans-serif;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0;
    min-height: 100%;
    width: 100%;
  }
  header {
    background-color: rgba(14, 14, 14, 1);
    display: flex;
    justify-content: space-between;
    min-height: 93px;
    width: 100%;
    align-items: center;
    padding: 0;
  }

  /* navbar */

  nav{
    background: black;
    height: 80px;
    width: 100%;
  }

  nav,
  .offcanvas {
    background-color: black;
  }
  .navbar-toggler {
    border: none;
  }
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }

  @media (max-width: 768px) {
    .navbar-nav > li:hover {
      background-color: rgba(13, 138, 240, 0.722);
    }
  }
/* FIN NAVBAR */


/* comienzo index */
/* banner index */
.fotoseccion{
  background: url(../Imagenes/LevantadoraDePesas1440x562.png) no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vh- 80px);

}
.fotoseccion>.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 362px;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 8px 12px black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.circle1 {
  display: inline-block;
  width: 225px;
  height: 225px;
  border-radius: 100%;
  margin: 170px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  margin: 1fr;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.circle1>.imagen1 {
  width: 100%;
  height: 100%;
}

.circle1>.p {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}


.circle2 {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  display: inline-block;
  width: 225px;
  height: 225px;
  border-radius: 100%;
  margin: 20px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

.circle2>.imagen2 {
  width: 100%;
  height: 100%;
}

.circle3 {
  margin-top: 10px;
  font-size: 14px;
  display: inline-block;
  width: 225px;
  height: 225px;
  border-radius: 100%;
  margin: 170px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

.circle3>.imagen3 {
  width: 100%;
  height: 100%;
}
/* sobre mi */
.contenedor-about{
  padding: 0;
  display: flex;
  background-image: url(../Imagenes/training-828715.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  overflow: hidden;
}
.about-txt{
  width: 30%;
  height: 100%;
  background-image: url(../Imagenes/bg1.png);
  box-sizing: border-box;
  padding: 30px;
  margin-left: 998px;
  float: right;

}

.h2about{
  font-size: 70px;
  color: black;
  margin-bottom: 15px;
}
.about-txt p{
  font-size: 16px;
  color: #222222;
  margin-bottom: 35px;
}
/* responsive sobre mi */
@media(max-width:1334px){
  .contenedor-about{
    padding: 0 30px 30px 30px;
    flex-direction: column;
  }
  .about-txt{
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    order: 2;
  }
}
/* fin responsive sobre mi */

/* boton */
.contenedor5 {
  width: 100%;
  height: 300px;
  background-color:  #16191E;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.contenedor5 button{
  height: 30%;
  padding: 15px 20px;
  margin: 10px;
  border: none;
  background: #020d24;
  color: whitesmoke;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 300ms;
  text-transform: uppercase;
  font-weight: 500px;
}
.contenedor5 button:hover{
  background: #010309;
}
/* fin boton */

/* seccion para vos */
.contenedor-foryou{
  padding: 0;
  display: flex;
  background-image: url(../Imagenes/prensa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  overflow: hidden;
  border:#000;
  box-shadow: #000;
}
.foryou-txt{
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  padding: 30px;
  margin-right: 1000px;
  float: right;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
}
.h2foryou{
  font-size: 70px;
  color: white;
  margin-bottom: 15px;
}
.foryou-txt p{
  font-size: 16px;
  color: whitesmoke;
  margin-bottom: 35px;
}

/* responsive para vos */
@media(max-width:1334px){
  .contenedor-about{
    padding: 0 30px 30px 30px;
    flex-direction: column;
  }
  .about-txt{
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    order: 2;
  }
}
/* fin responsive para vos */
/* fin seccion para vos */


/* Seccion circulos 2 */
.contenedor3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 362px;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 8px 12px black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: black;
  border-bottom: #00c3ffbf;
  border-style: groove;
  border-width: 2px;
}
.circle4 {
  display: inline-block;
  width: 225px;
  height: 225px;
  border-radius: 100%;
  margin: 170px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  margin: 1fr;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.circle4>.imagen4 {
  width: 100%;
  height: 100%;
}

.circle4>.p {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}


.circle5 {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  display: inline-block;
  width: 225px;
  height: 225px;
  border-radius: 100%;
  margin: 20px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

.circle5>.imagen5 {
  width: 100%;
  height: 100%;
}

.circle6 {
  margin-top: 10px;
  font-size: 14px;
  display: inline-block;
  width: 225px;
  height: 225px;
  border-radius: 100%;
  margin: 170px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

.circle6>.imagen6 {
  width: 100%;
  height: 100%;
}

/* fin seccion circulos 2 */

/*inicio footer */
.footer {
  background-color: black;
  padding: 80px 80px;
  justify-content: center;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links {
  width: 25%;
  padding: 0 15px;
  display: inline-block;
  text-align: center;
}

.footer-links h2 {
  font-size: 20px;
  color: whitesmoke;
  margin-bottom: 25%;
  font-weight: 500;
  border-bottom: 2px solid #00c3ff;
  display: inline-block;
  padding-bottom: 10px;
}

.footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 15px;
  transition: all .3s ease;
}

.footer-links ul li a:hover {
  color: #00c3ff;
  padding-left: 6px;
}

.social-links a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all .5s ease;
}

.social-links a:hover {
  color: #00c3ff;
  padding-left: 6px;
}
/* responsive footer */
@media(max-width: 1024px) {
  .footer-row {
    text-align: center;
  }

  .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }
}
/* Fin de footer */
/* fin del index */


/* contacto */
.galeria{
  background: url(../Imagenes/observandoAlumnos.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vh- 80px);
  width: 100%;
  margin: 0;
  padding: 0;
}
.contenedor-galeria{
  width: 100%;
  min-width: 320px;
  margin: auto;
  padding: 0px;
  position: relative;
  object-fit: cover;
  background-size: cover;
  height: 500px;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
}
/* .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
} */

ul {
  list-style: none;
  padding: 0;
}

.logo {
  text-align: center;
  font-size: 3em;
}

.logo span {
  color: #00c3ff;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #222222;
  color: white;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #00c3ff;
}

.contact-form form button {
  background: #00c3ff;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #216d80;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* CONTACT INFO */
.contact-info {
  background: #000;
}

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
  color: white;
}

/* LARGE SIZE */
@media(min-width: 700px) {
  body {
      padding: 0;
  }
  .contact-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
      padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
      text-align: left;
  }
}

/* parte de medios de pago */
.medios-pago{
  align-items: center;
  padding-top: 40px;
  width: 100vw;
  max-width: 1200px;
  min-width: 400px;
  margin: auto;
  padding-bottom: 40px;
}
.medios-pago>h2{
  padding-top: 30px;
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 30px;
  text-decoration: none;
}
.imagenpago{
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
}

/* banner servicios */
.galerias{
  background: url(../Imagenes/cenardsent.JPG) no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vh- 80px);
  width: 100%;
  margin: 0;
  padding: 0;
}
.contenedor-galerias{
  width: 100%;
  min-width: 320px;
  margin: auto;
  padding: 0px;
  position: relative;
  object-fit: cover;
  background-size: cover;
  height: 500px;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
}
/* fin banner servicios */

/* Opciones de entrenamiento */
.container{
  position:relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  max-width: 1200px;
  height: 380px;
  background:rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  padding: 50px;
  box-sizing: border-box;
}
.container .container-img{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-image: url(../Imagenes/bg1.png);
  border-radius: 15px;
  margin: 0;
  padding: 0;
}
.container.container-img::before{
  content: "MBA";
  position: absolute;
  top: 0;
  left: 24px;
  color:#000;
  font-weight: 800;
  font-size: 8em;
  opacity: 0.2;
}
.container .container-img img{
  position: relative;
  width: 100%;
  transition: .9 linear;
  filter: drop-shadow(5px 5px 5px #000);
  overflow:hidden;
  box-sizing: border-box;
}
.container .details{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  margin: 0;
}
.container.details h2{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1em;
  color: #444;
}
.container .details h2 span{
  font-size: 0.4em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999
}
.container .details p{
  max-width: 85%;
  margin-left: 1%;
  color: #333;
  font-size: 15px;
  margin-bottom: 36px;
}
.container .details button{
  background: #020d24;
  color: whitesmoke;
  border: none;
  outline: none;
  padding: 15px 20px;
  margin-top: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  float: left;
  cursor: pointer;
  border-radius: 8px;
  transition: all 300ms;
}
.container .details button:hover{
  background: #83277b;
}

/* responsive tipos de entrenamiento */
@media(max-width:1200px){
  .container{
    height: auto;
  }
  .container .container-img{
    padding: 40px;
    box-sizing: border-box;
    width: 100%!important;
    height: auto;
    text-align: center;
    overflow: hidden;
  }
  .container .container-img img{
    left: initial;
    max-width: 100%;
    transform: rotate(0deg);
  }
  .details{
    width: 100%;
    height: auto;
    padding: 20px;
  }
}

/*Inicio card seccion servicios */
.container__cards{
  max-width: 1200px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container_h2{
  align-items: center;
  padding-top: 40px;
  width: 100vw;
  max-width: 1200px;
  min-width: 400px;
  margin: 30px;
  padding-bottom: 40px;
  background-image: url(../Imagenes/bg1.png);
  border-radius: 20px;
}
.container_h2>h2{
  text-align: center;
  text-decoration: none;
  padding-top: 30px;
  justify-items: center;
  font-size: 40px;
  color: #020d24;
}

.card{
  width: 300px;
  margin: 30px;
  transition: all 300ms;
  border-radius: 20px;
  background-image: url(../Imagenes/bg1.png);
}

.card:hover{
  width: 350px;
}

.card .cover{
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.card .cover img{
  width: 250px;
  display: block;/* centrando la img */
  margin: auto;
  position: relative;
  top: 40px;
  z-index: 1;
  filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
  transition: all 400ms;
  border-radius: 20px;
}

.card:hover .cover img{
  top: 0px;
  filter: none;
}

.card .img__back{
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: -80px;
  left: 0;
  background-size: cover;
  border-radius: 20px;
  transition: all 300ms;
}

.card:nth-of-type(1) .img__back{
  background-image: url(../Imagenes/bg1.png);
}

.card:nth-of-type(2) .img__back{
  background-image: url(../Imagenes/bg1.png);
}

.card:nth-of-type(3) .img__back{
  background-image: url(../Imagenes/bg1.png);
}

.card:hover .img__back{
  bottom: -40px;
}

.card .description{
  background:rgba(101, 148, 179, 0.905);
  margin-top: -10px;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
  transition: all 300ms;
}

.card:hover .description{
  padding: 40px;
}

.card .description h2{
  margin-top: 10px;
}

.card .description p{
  margin-top: 10px;
}

.card .description input{
  padding: 10px 40px;
  margin-top: 20px;
  border: none;
  background: #020d24;
  color: whitesmoke;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 300ms;
}

.card .description input:hover{
  background: #83277b;
}
/* Fin de card de servicios */
/* fin seccion de servicos */

/* seccion de comunidad */
/* inicio banner */
.galeriasc{
  background: url(../Imagenes/sentadillaNacional.JPG) no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vh- 80px);
  width: 100%;
  margin: 0;
  padding: 0;
}
.contenedor-galeriasc{
  width: 100%;
  min-width: 320px;
  margin: auto;
  padding: 0px;
  position: relative;
  object-fit: cover;
  background-size: cover;
  height: 500px;
}
.overlayc{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
}
/* fin banner */

/* inicio de celular */
/* Estilos del celular */
.contenedorPhone{
  background-image: url(../Imagenes/dumbbell-1966704.jpg);
  width: 100%;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-size: cover;
  padding: 0;
  background-position: center center;

}
.phone {
  width: 300px;
  height: 600px;
  background-color: #121111;
  border-radius: 20px;
  padding: 30px;
  margin:  70px auto 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Estilos del área del chat */
.chat {
  width: 100%;
  height: 80%;
  background-image: url(../Imagenes/bg1.png);
  border-radius: 10px;
  padding: 15px;
  overflow-y: scroll;
}

/* Estilos para el emisor del mensaje */
.chat .messageSender{
  background-color: #dcf8c6;
  float: right;
  padding: 5px;
}

/* Estilos para el receptor del mensaje */
.chat .messageReceiver {
  background-color: #76add992;
  float: left;
  padding: 5px;
}
/* fin del celular */

/* inicio seccion de opiniones */
.opiniones{
  background-color: #62a7e8a0;
  margin-top: -40px;
  padding-bottom: 40px;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
}
.opiniones .caja-opiniones{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.opiniones h1{
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 40px auto 40px;
  justify-content: center;
  padding-top: 35px;

}
.opiniones .caja-opiniones .caja7{
  background-image: url(../Imagenes/bg1.png);
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  position: relative;
  border: .1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  flex: 1 1 40rem;
  border-radius: .5rem;
  overflow: hidden;
}

.opiniones .caja-opiniones .caja7 fa-solid fa-comment-exclamation{
  position: absolute;
  top:  1rem;
  right: 2rem;
  font-size: 8rem;
  color: #4282bd;
  opacity: .3;
}

.opiniones .caja-opiniones .caja7 .user img{
  border-radius: 50%;
  object-fit: cover;
  height: 8rem;
  width: 8rem;
  margin-top: 2rem;
}

.opiniones .caja-opiniones .caja7 .user h2{
  color: #16191E;
  font-size: 2rem;
  text-align: center;
}

.opiniones .caja-opiniones .caja7 .user .stars i{
  color: rgba(242, 242, 64, 0.776);
  font-size: 1.5rem;
  padding: 1rem 0;
}

.opiniones .caja-opiniones .caja7 .comentarios{
  color: #666;
  font-size: 1.5rem;
  padding: 1rem;
}

/* responsive opiniones*/
@media (max-width: 768px) {
  .opiniones .caja-opiniones .caja7 {
    flex-basis: calc(100% - 2rem); /* Tamaño de las cajas en dispositivos móviles */
  }
}
/* fin seccion opiniones */

/* seccion blog */

.bannerblog {
  background: url(../Imagenes/ket.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vh- 80px);
  width: 100%;
  margin: 0;
  padding: 0;
}

.bannerblog__contenedor{
      width: 100%;
      min-width: 320px;
      margin: auto;
      padding: 0px;
      position: relative;
      object-fit: cover;
      background-size: cover;
      height: 500px;
}

.bannerblog__contenedor .overlay{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
}


.blog{
  padding: 5rem 10%;
  background-color: #342D21;
}

.blog .blog__heading{
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: whitesmoke;
  }

.blog .blog__container{
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.blog .blog__container .blog__box{
  box-shadow: 0px 18px 39.1px 6.9px rgba(224, 241, 255, 0.34) !important;
}
.blog .blog__container .blog__box:hover .image img{
  transform: scale(1.1);
}

.blog .blog__container .blog__image{
  height: 25rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.blog .blog__container.blog__image img{
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}


.blog .blog__container.blog__image h3{
  font-size: 1.5rem;
  background-color: #ffeeff;
  color: #444;
  position: absolute;
  top: 2rem;
  left: 1rem;
  padding: .5rem 1.5rem;
  border-radius: 15px;
}

.blog .blog__container .blog__box .blog__image h3 i{
  color: #bd18b4;
}

.blog .blog__container .blog__box .blog__content{
  padding: 2rem;
  background-color: #ffeeff;
}

.blog .blog__container .blog__box .blog__content h3{
  font-size: 2rem;

}

.blog .blog__container .blog__box .blog__content p{
  font-size: 1.5rem;
  padding: 1rem 0;
  line-height: 2;
  color: #777;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  border: 0.1rem solid #bd18b4;
  background: #ffeeff;
  color: #bd18b4;
  cursor: pointer;
  text-transform: capitalize;
}
.btn:hover{
  background: #bd18b4;
  color: #ffeeff;
}
